{% extends 'main.html' %}
{% block content %}

<div class="home-container layout-three">

    <aside class="sidebar sidebar-left">
        {% include 'myapp/topics_component.html' %}
    </aside>

    <section class="content-column">
        <div class="section-heading">
            <div>
                <p class="eyebrow">Community rooms</p>
                <h2>{{room_count}} rooms available</h2>
            </div>
            <a class="btn btn-primary" href="{% url 'create-room' %}">Create Room</a>
        </div>

        {% include 'myapp/feed_component.html' %}
        
    </section>

    <aside class="sidebar sidebar-right">
        {% include 'myapp/activity_component.html' %}
    </aside>

</div>
{% endblock content %}
